html, body, .fullWrap {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	box-sizing: border-box;
	overflow-x: hidden;
}
.fullWrap {
	overflow: hidden;
}
#gameCanvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	background: url('background.texture.png');
}
.absolute_position {
	position: absolute;
}
#gameTouchSurface {
	cursor: url('cursor.png') 15 15, crosshair;
}
.languageSelect {
	display: none;
}
#canvasWrap {
	display: none;
	position: relative;
}
.gameOverlay {
	position: fixed;
	z-index: 100;
	opacity: 0.7;
	filter: alpha(70);
}
.gameOverlayBottomLeft, .gameOverlayBottomRight {
	padding: 5px 10px;
}
.gameOverlayTopRight {
	padding: 10px;
}
#gameStatsRatingList {
	margin-bottom: 0px;
}
.gameOverlay, #gameCanvas .label_ {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#gameStatsRatingList {
	list-style-type: none;
}
#screenSizeHack {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 1px;
	height: 1px;
	visibility: hidden;
}
.gameOverlayTopLeft {
	left: 10px;
	top: -5px;
}
.gameOverlayBottomLeft {
	left: 10px;
	bottom: 10px;
}
.gameOverlayTopRight {
	right: 10px;
	top: 10px;
}
.gameOverlayBottomRight {
	right: 10px;
	bottom: 10px;
}
.modal {
	position: absolute;
	overflow: auto;
}
#feedbackMessageText {
	resize: vertical;
}
.inline_to_right_text {
	float: right;
	display: block;
}
.no_left_padding {
	padding-left: 0px;
}

.share_btn {
	width: 32px;
	height: 32px;
	background: url('share.png') no-repeat;
	float: left;
	display: block;
	margin: 1px;
}
.vk_btn16 {
	width: 16px;
	height: 16px;
	background: url('share.png') -160px 0px no-repeat;
	display: inline-block;
	position: relative;
	top: 3px;
}

#scoreShareButtons {
	width: 170px;
	height: 34px;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

/* pure css tabs */
.badge-primary {
	background-color: #337ab7;
	border-color: #2e6da4;
	padding: 6px;
}
.badge-primary:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}
.csstab_wrap [type=radio] {
	display: none;
}
.csstab_content {
	display: none;
}
.csstab_wrap [type=radio]:checked ~ .csstab_content {
	z-index: 1;
	display: block;
}
.block_100pc_wide {
	display: block;
	width: 100%;
}


/* bad browser css */
#browsers a {
	float: left;
	width: 120px;
	padding: 106px 0px 13px 0;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
}
#browsers a:hover {
	text-decoration: none;
	background-color: #edf1f5!important;
}
#bad_browser {
	display: none;
}